<?xml version="1.0" standalone='no'?><!--*-nxml-*-->  
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">  
<service-group>  
<name replace-wildcards="yes">LED Server</name>  
<service protocol="ipv4">  
<type>_http._tcp</type>  
<port>8081</port>
<txt-record>colors=red, blue, green, magenta, cyan, yellow, white </txt-record>  
</service>  
</service-group>  
